@charset "UTF-8";
.donation-button, .navigation__link, .button {
  transition: all 0.3s ease-out;
}

.slider-card:hover .button_bordered {
  transition: all 0.1s ease-out;
}

.slider-card, .navigation__link, .header__hamburger, button, a {
  cursor: url("../../assets/cursor/Hover.svg"), auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  min-height: 100vh;
  scroll-behavior: smooth;
  cursor: url("../../assets/cursor/Union.svg"), auto;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  display: block;
  border: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 4.4rem;
  line-height: 130%;
  color: #FFFFFF;
}
@media (max-width: 767.9px) {
  h2 {
    font-size: calc(4.4rem - (768px - 100vw) / 23.58);
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.06em;
  }
}
@media (max-width: 320px) {
  h2 {
    font-size: 25px;
  }
}

h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
@media (max-width: 767.9px) {
  h3 {
    font-size: calc(3.5rem - (768px - 100vw) / 44.8);
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.06em;
  }
}

.heading-center {
  text-align: center;
  max-width: 400px;
  margin: auto;
  margin-bottom: 60px;
}
@media (max-width: 767.9px) {
  .heading-center {
    margin-bottom: 40px;
  }
}

@media (max-width: 1279.9px) {
  .heading-center_our-pets {
    margin-bottom: calc(60px - (1280px - 100vw) / 17.07);
  }
}
@media (max-width: 425.9px) {
  .heading-center_our-pets {
    margin-bottom: 42px;
  }
}

.section {
  padding-top: 80px;
  padding-bottom: 100px;
}
@media (max-width: 1279.9px) {
  .section_our-pets {
    padding-bottom: calc(100px - (1280px - 100vw) / 21.33);
  }
}
@media (max-width: 425.9px) {
  .section {
    padding-top: calc(80px - (768px - 100vw) / 11.79);
    padding-bottom: calc(100px - (768px - 100vw) / 7.725);
  }
}

.button {
  align-items: center;
  border-radius: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}
.button_colored {
  padding: 15px 45px;
  background: #F1CDB3;
}
.button_colored:hover {
  background: #FDDCC4;
}
.button_bordered {
  padding: 12px 42px;
  border: 2px solid #F1CDB3;
}
.button_bordered:hover {
  border: 2px solid #FDDCC4;
}
.button_circular {
  min-width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
}
.button_circular_hover:hover {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
  color: #292929;
}
.button_circular:disabled {
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
  cursor: url("../../assets/cursor/Union.svg"), auto;
}
.button_circular_active {
  background: #F1CDB3;
  cursor: url("../../assets/cursor/Union.svg"), auto;
}

.header__hamburger {
  font-size: 0;
  display: none;
}
@media (max-width: 767.9px) {
  .header__hamburger {
    display: inline-block;
  }
}

@media (max-width: 767.9px) {
  .header__navigation {
    display: none;
  }
}

.hamburger {
  width: 30px;
}

.hamburger__line {
  display: inline-block;
  height: 2px;
  width: 100%;
  background-color: #F1CDB3;
  margin: 4px 0;
}
.hamburger__line_pet-light-theme {
  background-color: #000000;
}

.wrapper {
  max-width: 1280px;
  padding: 0 40px;
  margin: auto;
}
@media (max-width: 1279.9px) {
  .wrapper {
    padding: 0 calc(40px - (1280px - 100vw) / 51.2);
  }
}
@media (max-width: 767.9px) {
  .wrapper {
    padding: 0 calc(30px - (768px - 100vw) / 22.4);
  }
}

.wrapper__abs {
  position: relative;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  position: absolute;
  width: 100%;
  top: 60px;
}
@media (max-width: 1279.9px) {
  .header__container {
    top: calc(60px - (1280px - 100vw) / 17.07);
  }
}
@media (max-width: 767.9px) {
  .header__container {
    top: 30px;
  }
}
@media (max-width: 320px) {
  .header__container {
    max-width: 257px;
  }
}
.header__container_pet-light-theme {
  position: initial;
  min-height: 120px;
}

.header__sticky {
  position: sticky;
  top: 0;
  background: #FFFFFF;
}

.navigation {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
  font-family: Arial, Helvetica, sans-serif;
  color: #CDCDCD;
}
.navigation_pet-light-theme {
  color: #545454;
}

.navigation__link-block {
  padding-right: 36px;
}
.navigation__link-block:last-child {
  padding: 0;
}

.navigation__link:hover {
  color: #FAFAFA;
}
.navigation__link_pet-light-theme:hover {
  color: #292929;
}
.navigation__link_pet-light-theme_active {
  color: #545454;
  display: inline-block;
  border-bottom: 3px solid #F1CDB3;
}
.navigation__link_active {
  color: #FAFAFA;
  display: inline-block;
  border-bottom: 3px solid #F1CDB3;
}

.logo__text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  letter-spacing: 0.1em;
  margin-top: 10px;
  text-align: center;
}
.logo__text_pet-light-theme {
  color: #292929;
}

.logo__link {
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
.logo__link_pet-light-theme {
  color: #545454;
}

.section__footer {
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  padding-top: 40px;
  padding-bottom: 0;
}
@media (max-width: 1023.9px) {
  .section__footer {
    padding-top: 15px;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  flex-wrap: wrap;
}
@media (max-width: 1023.9px) {
  .footer__container {
    justify-content: space-around;
  }
}

.footer__photo-block {
  /*@include media-laptop {
    @include flex ( center);
    padding-top: 22px;
    width: 100%;
  }- расскомментить после кросчека*/
}
@media (max-width: 1279.9px) {
  .footer__photo-block {
    display: flex;
    justify-content: center;
    align-items: normal;
    flex-wrap: nowrap;
    padding-top: 22px;
    width: 100%;
  }
}

@media (max-width: 320px) {
  .footer__photo {
    max-width: 260px;
  }
}

.heading-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #FFFFFF;
  letter-spacing: 0.06em;
  max-width: 280px;
}
@media (max-width: 767.9px) {
  .heading-footer {
    font-size: calc(3.5rem - (768px - 100vw) / 44.8);
    text-align: center;
  }
}

.address-block {
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-top: 16px;
}
.address-block.address-block__tel > div {
  margin-bottom: 41px;
}
@media (max-width: 767.9px) {
  .address-block.address-block__tel > div {
    margin-bottom: 42px;
  }
  .address-block.address-block__tel > div:last-child {
    margin-bottom: 20px;
  }
}
.address-block.address-block__tel {
  /*v удалить после кроссчека*/
  /*^удалить после кроссчека*/
}
@media (max-width: 1279.9px) {
  .address-block.address-block__tel {
    flex-basis: 50%;
  }
}
@media (max-width: 1023.9px) {
  .address-block.address-block__tel {
    flex-basis: auto;
  }
}
@media (max-width: 1023.9px) {
  .address-block.address-block__tel {
    padding-left: 5px;
  }
}
@media (max-width: 767.9px) {
  .address-block.address-block__tel {
    padding-left: 0;
  }
}
.address-block.address-block__location > div {
  margin-bottom: 32px;
}
@media (max-width: 767.9px) {
  .address-block.address-block__location > div {
    margin-bottom: 40px;
  }
  .address-block.address-block__location > div:last-child {
    margin-bottom: 15px;
  }
}
.address-block.address-block__location {
  /*v удалить после кроссчека*/
  /*^удалить после кроссчека*/
  padding-right: 5px;
}
@media (max-width: 1279.9px) {
  .address-block.address-block__location {
    flex-basis: 50%;
  }
}
@media (max-width: 1023.9px) {
  .address-block.address-block__location {
    flex-basis: auto;
  }
}
@media (max-width: 767.9px) {
  .address-block.address-block__location {
    flex-basis: 90%;
  }
}
@media (max-width: 320px) {
  .address-block.address-block__location {
    flex-basis: auto;
  }
}
.address-block.address-block__location:first-child {
  align-self: center;
}
@media (max-width: 1023.9px) {
  .address-block.address-block__location {
    padding-right: 10px;
  }
}
@media (max-width: 767.9px) {
  .address-block.address-block__location {
    padding-right: 0;
  }
}
@media (max-width: 767.9px) {
  .address-block {
    flex-basis: 100%;
    align-items: center;
    margin-top: 15px;
  }
}

.address-info {
  display: inline-flex;
  align-items: center;
  color: #F1CDB3;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.address-info__icon {
  padding-right: 20px;
}

@media (max-width: 320px) {
  .address-block__location > div:not(.heading-footer) {
    align-self: flex-start;
  }
}
.start-screen {
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  padding-top: 180px;
}
@media (max-width: 1023.9px) {
  .start-screen {
    padding-top: 150px;
  }
}

.start-screen__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  /*@include media-laptop {
    flex-wrap: wrap;
    justify-content: center;
    }- расскомментить после кросчека*/
  /*v удалить после кроссчека*/
  /*^удалить после кроссчека*/
}
@media (max-width: 1279.9px) {
  .start-screen__container {
    column-gap: 42px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.start-screen__text {
  color: #CDCDCD;
  margin: 42px 0;
  /*v удалить после кроссчека*/
  /*^удалить после кроссчека*/
}
@media (max-width: 425.9px) {
  .start-screen__text {
    text-align: center;
  }
}
@media (max-width: 767.9px) {
  .start-screen__text {
    text-align: center;
  }
}

.start-screen__btn {
  /*@include media-laptop {
    text-align: center;
  }- заменить после кросчека*/
  /*-удалить после кроссчека*/
}
@media (max-width: 1279.9px) {
  .start-screen__btn {
    text-align: center;
  }
}

.start-screen__content {
  max-width: 460px;
  padding-bottom: 80px;
}
@media (max-width: 1023.9px) {
  .start-screen__content {
    padding-bottom: 100px;
  }
}
@media (max-width: 320px) {
  .start-screen__content {
    padding-bottom: 105px;
  }
}

.start-screen__header {
  max-width: 310px;
}
@media (max-width: 767.9px) {
  .start-screen__header {
    max-width: 100%;
  }
}

@media (max-width: 1023.9px) {
  .start-screen__photo {
    max-width: 569px;
  }
}
@media (max-width: 320px) {
  .start-screen__photo {
    max-width: 260px;
  }
}

.start-screen__photo-block {
  display: flex;
  justify-content: flex-end;
  align-items: normal;
  flex-wrap: nowrap;
}
@media (max-width: 1023.9px) {
  .start-screen__photo-block {
    width: 100%;
  }
}

.about__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap-reverse;
  min-height: 408px;
  /*v удалить после кроссчека*/
  /*^ удалить после кроссчека*/
}
@media (max-width: 1279.9px) {
  .about__container {
    column-gap: 500px;
  }
}

.about__content {
  max-width: 430px;
  margin-right: 55px;
}
.about__content > * {
  margin-bottom: 24px;
}
.about__content > *:last-child {
  margin-bottom: 0;
  /*@include media-laptop {
    margin-bottom: 80px;
  }- расскомментить после кросчека*/
  /*v удалить после кроссчека*/
  /*^ удалить после кроссчека*/
}
@media (max-width: 1279.9px) {
  .about__content > *:last-child {
    margin-bottom: 80px;
  }
}
@media (max-width: 320px) {
  .about__content > *:last-child {
    margin-bottom: 40px;
  }
}
@media (max-width: 1023.9px) {
  .about__content {
    margin-right: 0;
  }
}

.about__img {
  margin-left: 55px;
}
@media (max-width: 1023.9px) {
  .about__img {
    margin-left: 0;
  }
}
@media (max-width: 320px) {
  .about__img {
    max-width: 260px;
  }
}

.about__text {
  line-height: 160%;
  color: #4C4C4C;
  /*v удалить после кроссчека*/
  /*^ удалить после кроссчека*/
}
@media (max-width: 320px) {
  .about__text {
    max-width: 270px;
    text-align: justify;
  }
}
@media (max-width: 767.9px) {
  .about__text {
    text-align: justify;
  }
}

.section__pets {
  background: #F6F6F6;
}

.pets__container {
  text-align: center;
}

.pets__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding-bottom: 60px;
  gap: 12px;
  position: relative;
}
@media (max-width: 767.9px) {
  .pets__block {
    padding-bottom: 114px;
  }
}
@media (max-width: 767.9px) {
  .pets__block > .button:first-child {
    position: absolute;
    bottom: 42px;
    left: calc(50% - 52px - 40px);
  }
}
@media (max-width: 767.9px) {
  .pets__block > .button:last-child {
    position: absolute;
    bottom: 42px;
    right: calc(50% - 52px - 40px);
  }
}

.main-slider {
  overflow: hidden;
  flex-grow: 2;
  max-width: 990px;
  height: 435px;
  position: relative;
}

.main-slider__strip {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  /*v удалить после кроссчека*/
  /*^ удалить после кроссчека*/
}
@media (max-width: 1279.9px) {
  .main-slider__strip {
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 25%;
  }
}
@media (max-width: 1023.9px) {
  .main-slider__strip {
    justify-content: space-between;
    gap: 5%;
  }
}
@media (max-width: 767.9px) {
  .main-slider__strip {
    justify-content: center;
    gap: 25%;
  }
}

.slider-card {
  width: 270px;
  height: 435px;
  border-radius: 9px;
  background-color: #FAFAFA;
  overflow: hidden;
}
.slider-card > * {
  margin-bottom: 30px;
}
.slider-card:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #FFFFFF;
}
.slider-card:hover .button_bordered {
  background: #F1CDB3;
  border: 2px solid #F1CDB3;
}
.slider-card:hover .button_bordered:hover {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}
@media (max-width: 1279.9px) {
  .slider-card {
    margin: 0 auto;
  }
}

.slider-card__name {
  color: #545454;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 23px;
  letter-spacing: 0.06em;
}

.pets-slider {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 30px 40px;
  justify-content: space-between;
  justify-items: center;
  max-height: 1365px;
  overflow: hidden;
  /*v удалить после кроссчека*/
  /*^удалить после кроссчека*/
}
@media (max-width: 1279.9px) {
  .pets-slider {
    grid-template-columns: repeat(auto-fill, minmax(377px, 1fr));
  }
}
@media (max-width: 1023.9px) {
  .pets-slider {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }
}
@media (max-width: 767.9px) {
  .pets-slider {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
}
@media (max-width: 320px) {
  .pets-slider {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }
}
@media (max-width: 1023.9px) {
  .pets-slider {
    margin: 0 auto;
    max-width: 580px;
  }
}

.slider-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 60px;
}
@media (max-width: 1279.9px) {
  .slider-nav {
    padding-top: calc(60px - (1280px - 100vw) / 25.6);
  }
}
@media (max-width: 767.9px) {
  .slider-nav {
    gap: 10px;
    padding-top: 42px;
  }
}

.slider-nav__btn {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.btn-arrow_normal {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.btn-arrow_mirror {
  transform: scale(-1, 1);
}

.help-list {
  display: flex;
  justify-content: center;
  align-items: normal;
  flex-wrap: nowrap;
  flex-wrap: wrap;
  column-gap: 120px;
  min-height: 281px;
  max-width: 1030px;
  margin: auto;
  text-align: center;
  align-content: space-between;
}
@media (max-width: 1279.9px) {
  .help-list {
    column-gap: 100px;
  }
}
@media (max-width: 1023.9px) {
  .help-list {
    column-gap: 0;
    min-height: 449px;
    max-width: 630px;
    justify-content: space-between;
  }
}
@media (max-width: 767.9px) {
  .help-list {
    gap: 30px;
  }
}
@media (max-width: 425.9px) {
  .help-list {
    justify-content: space-evenly;
  }
}
@media (max-width: 320px) {
  .help-list {
    justify-content: space-between;
  }
}

@media (max-width: 1023.9px) {
  .help-card {
    min-width: 170px;
  }
}
@media (max-width: 425.9px) {
  .help-card {
    min-width: 130px;
  }
}
@media (max-width: 320px) {
  .help-card:nth-child(even) {
    padding-right: 10px;
  }
}
@media (max-width: 320px) {
  .help-card:nth-child(odd) {
    padding-left: 10px;
  }
}

.help-card__img {
  height: 60px;
  width: 60px;
  margin: auto;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}
.help-card__img_food {
  background-image: url(../../assets/icons/pet-food.svg);
}
.help-card__img_transport {
  background-image: url(../../assets/icons/transportation.svg);
}
.help-card__img_toys {
  background-image: url(../../assets/icons/toys.svg);
}
.help-card__img_bowls {
  background-image: url(../../assets/icons/bowls-and-cups.svg);
}
.help-card__img_shampoos {
  background-image: url(../../assets/icons/shampoos.svg);
}
.help-card__img_vitamins {
  background-image: url(../../assets/icons/vitamins.svg);
}
.help-card__img_medicines {
  background-image: url(../../assets/icons/medicines.svg);
}
.help-card__img_collars {
  background-image: url(../../assets/icons/collars-or-leashes.svg);
}
.help-card__img_sleep {
  background-image: url(../../assets/icons/sleeping-area.svg);
}
@media (max-width: 425.9px) {
  .help-card__img {
    height: 50px;
    width: 50px;
    background-size: contain;
    margin-bottom: 20px;
  }
}

.help-card__name {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #545454;
}
@media (max-width: 425.9px) {
  .help-card__name {
    font-size: 1.5rem;
  }
}

.section__donation {
  background: #F6F6F6;
}

.donation__container {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  flex-wrap: wrap-reverse;
  max-width: 915px;
  margin: auto;
  /*@include media-laptop {
    justify-content: center;
  }- расскомментить после кросчека*/
  /*v удалить после кроссчека*/
  /*^удалить после кроссчека*/
}
@media (max-width: 1279.9px) {
  .donation__container {
    column-gap: 500px;
    justify-content: center;
  }
}

.donation__content {
  max-width: 380px;
}
.donation__content > * {
  margin-bottom: 20px;
}
@media (max-width: 1023.9px) {
  .donation__content > * {
    margin-bottom: 19px;
  }
}
@media (max-width: 767.9px) {
  .donation__content > * {
    margin-bottom: 20px;
  }
}
.donation__content :last-child {
  margin-bottom: 0;
}
@media (max-width: 425.9px) {
  .donation__content {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 320px) {
  .donation__content {
    max-width: 280px;
  }
}

.donation__photo {
  padding-top: 10px;
}
@media (max-width: 1023.9px) {
  .donation__photo {
    padding-top: 60px;
  }
}
@media (max-width: 320px) {
  .donation__photo {
    max-width: 260px;
    padding-top: 42px;
  }
}

.donation__description {
  font-style: italic;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #B2B2B2;
  /*v удалить после кроссчека*/
  /*^удалить после кроссчека*/
}
@media (max-width: 320px) {
  .donation__description {
    text-align: justify;
  }
}
@media (max-width: 767.9px) {
  .donation__description {
    text-align: justify;
  }
}

.donation-button {
  display: inline-flex;
  padding: 10px 15px;
  border-radius: 9px;
  background: #F1CDB3;
  align-items: center;
}
.donation-button:hover {
  background: #FDDCC4;
}

.donation-button__img {
  max-height: 23px;
  vertical-align: bottom;
  margin-right: 14px;
  display: inline-block;
}

.donation-button__number {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}
@media (max-width: 425.9px) {
  .donation-button__number {
    font-style: normal;
    font-weight: 400;
    font-size: calc(2rem - (425px - 100vw) / 21);
    line-height: 110%;
  }
}

.donation__bank {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  font-family: Georgia, "Times New Roman", Times, serif;
  /*v удалить после кроссчека*/
  /*^удалить после кроссчека*/
}
@media (max-width: 425.9px) {
  .donation__bank {
    line-height: 160%;
    letter-spacing: 0;
    text-align: center;
  }
}
@media (max-width: 767.9px) {
  .donation__bank {
    text-align: center;
  }
}

.donation-button__wrapper {
  /*v удалить после кроссчека*/
  /*^удалить после кроссчека*/
}
@media (max-width: 767.9px) {
  .donation-button__wrapper {
    display: flex;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
