.section__footer {
  background: url(../../assets/images/noise_transparent@2x.png), $color-background-gradientF;
  padding-top: 40px;
  padding-bottom: 0;

  @include media-laptop {
    padding-top: 15px;
  }
}

.footer__container {
  @include flex (space-between, $flex-wrap:wrap);

  @include media-laptop {
    justify-content: space-around;
  }
}

.footer__photo-block {
  @include media-laptop {
    @include flex (center);
    padding-top: 22px;
    width: 100%;
  }
}

.footer__photo {
  @include media-mobile {
    max-width: 260px;
  }
}

.heading-footer {
  @include font(3.5rem, 130%);
  font-family: Georgia, "Times New Roman", Times, serif;
  color: $color-light-xl;
  letter-spacing: 0.06em;
  max-width: 280px;

  @include media-laptop {}

  @include media-tablet {
    font-size: calc(3.5rem - ((768px - 100vw) / 44.8));
    text-align: center;
  }
}

.address-block {
  @include flex ();
  flex-direction: column;
  margin-top: 16px;

  &.address-block__tel>div {
    margin-bottom: 41px;

    @include media-tablet {
      margin-bottom: 42px;

      &:last-child {
        margin-bottom: 20px;
      }
    }
  }

  &.address-block__tel {

    @include media-laptop {
      padding-left: 5px;
    }

    @include media-tablet {
      padding-left: 0;
    }
  }

  &.address-block__location>div {
    margin-bottom: 32px;

    @include media-tablet {
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 15px;
      }
    }
  }

  &.address-block__location {
    padding-right: 5px;

    &:first-child {
      align-self: center;
    }

    @include media-laptop {
      padding-right: 10px;
    }

    @include media-tablet {
      padding-right: 0;
    }
  }

  @include media-tablet {
    flex-basis: 100%;
    align-items: center;
    margin-top: 15px;
  }
}

.address-info {
  display: inline-flex;
  align-items: center;
  color: $color-primary;
  @include font (2rem, 115%);
  letter-spacing: 0.06em;
}

.address-info__icon {
  padding-right: 20px;
}


@include media-mobile {
  .address-block__location>div:not(.heading-footer) {
    align-self: flex-start;
  }
}