* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  //min-height: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
  cursor: url('../../assets/cursor/Union.svg'), auto;


}
body._open-hamburger{
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  @extend %cursor-hover;
}

li {
  list-style: none;
}

p {
  @include font(1.5rem, 160%);
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  display: block;
  border: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  @extend %cursor-hover;
}

h2 {
  @include font(4.4rem, 130%);
  color: $color-light-xl;

  @include media-tablet {
    font-size: calc(4.4rem - ((768px - 100vw) / 23.58));
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.06em;
  }

  @include media-mobile {
    font-size: 25px;
  }
}

h3 {
  @include font(3.5rem, 130%);
  letter-spacing: 0.06em;
  color: $color-dark-l;

  @include media-tablet {
    font-size: calc(3.5rem - ((768px - 100vw) / 44.8));
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.06em;
  }
}

.heading-center {
  text-align: center;
  max-width: 400px;
  margin: auto;
  margin-bottom: 60px;

  @include media-tablet {
    margin-bottom: 40px;
  }
}

.heading-center_our-pets {
  @include media-content {
    margin-bottom: calc(60px - ((1280px - 100vw) / 17.07));
  }

  @include media-mobileL {
    margin-bottom: 42px;
  }
}

.section {
  padding-top: 80px;
  padding-bottom: 100px;

  &_our-pets {
    @include media-content {
      padding-bottom: calc(100px - ((1280px - 100vw) / 21.33));
    }
  }

  @include media-mobileL {
    padding-top: calc(80px - ((768px - 100vw) / 11.79));
    padding-bottom: calc(100px - ((768px - 100vw) / 7.725));
  }
}

.overlay{
  opacity: 0;
  position: fixed;
  @extend %transition-fast;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $color-overlay;
  pointer-events: none;
  z-index: 3;
  &_active{
    opacity: 1;
    pointer-events: auto;
  }
}

