.about__container {
  @include flex(space-evenly, center, wrap-reverse);
  min-height: 408px;

  @include media-laptop {
   flex-direction: column-reverse;
  }
}

.about__content {
  max-width: 430px;
  margin-right: 55px;

  &>* {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;

      @include media-laptop {
        margin-bottom: 80px;
      }

      @include media-mobile {
        margin-bottom: 40px;
      }
    }
  }

  @include media-laptop {
    margin-right: 0;
  }
}

.about__img {

  margin-left: 55px;

  @include media-laptop {
    margin-left: 0;
  }

  @include media-mobile {
    max-width: 260px;
  }
}

.about__text {
  line-height: 160%;
  color: $color-dark-xl;

  @include media-tablet {
    text-align: justify;
  }

  @include media-mobile {
    max-width: 270px;
  }
}

