.section__pets{
  background:$color-light-l;

}

.pets__container{
  text-align: center;
}

.pets__block{
  @include flex(space-between, center);
  padding-bottom: 60px;
  gap:12px;
}

.main-slider{
  @include flex(space-between, center);
  overflow: hidden;
  flex-grow:  2;
  max-width: 990px;
  max-height: 435px;
  gap:12px;
  @include media-laptop {
  flex-wrap: wrap;
  }
}


.slider-card{
  max-width: 270px;
  min-height: 435px;
  border-radius: 9px;
  background-color:$color-light-s;
  overflow: hidden;
  @extend %cursor-hover;
>*  {margin-bottom: 30px;
}
&:hover{
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: $color-light-xl;
  .button_bordered{
    background: $color-primary;
    border: 2px solid $color-primary;
    @extend %transition-fast;
    &:hover{
    background: $color-primary-light;
    border: 2px solid $color-primary-light;
    }
  }
}
}

.slider-card__name{
  color: $color-dark-l;
  @include font (2rem, 23px);
  letter-spacing: 0.06em;
}

.pets-slider{
display: grid;
grid-template-columns: repeat(auto-fill,  minmax(270px, 1fr));
gap: 30px 40px;
justify-content: space-between;
justify-items: center;
max-height: 1365px;
overflow: hidden;
@include media-laptop {
  margin: 0 auto;
  max-width: 580px;
}
}

.slider-nav{

  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 60px;
  @include media-content {
    padding-top: calc(60px - ((1280px - 100vw) / 25.6));
  }
}
.slider-nav__btn{
  @include font (2rem, 115% );
  letter-spacing: 0.06em;
}

.btn-arrow {

  &_normal {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/icons/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  &_mirror {
    transform: scale(-1, 1);
  }


}
 
