.section__pets {
  background: $color-light-l;
}

.pets__container {
  text-align: center;

}

.slider__element {
  display: none;
  &._visible{
    display: block;
  }
}

.slider-card {
  width: 270px;
  height: 435px;
  border-radius: 9px;
  background-color: $color-light-s;
  overflow: hidden;
  @extend %cursor-hover;

  >* {
    margin-bottom: 30px;
  }

  &:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    background-color: $color-light-xl;

    .button_bordered {
      background: $color-primary;
      border: 2px solid $color-primary;
      @extend %transition-fast;

      &:hover {
        background: $color-primary-light;
        border: 2px solid $color-primary-light;
      }
    }
  }

  @include media-content {
    margin: 0 auto;
  }
}

.slider-card__name {
  color: $color-dark-l;
  @include font (2rem, 23px);
  letter-spacing: 0.06em;
}


//- pets-page

.pagination-slider {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  row-gap: 30px;
  justify-content: space-between;
  justify-items: center;
  min-height: 930px;
  overflow: hidden;
  margin: 0 auto;

  @include media-content {
    grid-template-columns: repeat(2, minmax(270px, 1fr));
    max-width: 580px;
    
  }
  @include media-tablet{
    grid-template-columns: repeat(1, minmax(270px, 1fr));
    max-width:270px;
  }
}

.pagination-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 60px;

  @include media-content {
    padding-top: calc(60px - ((1280px - 100vw) / 25.6));
  }

  @include media-tablet {
    gap: 10px;
    padding-top: 42px;
  }
}

.pagination-nav__btn {
  @include font (2rem, 115%);
  letter-spacing: 0.06em;
}




//- main-page
.carousel__block {
  @include flex(space-between, center);
  padding-bottom: 60px;
  gap: 12px;
  position: relative;

  @include media-content {
    justify-content: center;
  }


  @include media-tablet {
    padding-bottom: 114px;
 
  }
 
  &>.button:first-child {
 
    @include media-tablet {
      position: absolute;
      bottom: 42px;
      left: calc(50% - 52px - 40px);
    }
  }

  &>.button:last-child {

    @include media-tablet {
      position: absolute;
      bottom: 42px;
      right: calc(50% - 52px - 40px);
    }
  }
}

.carousel-wrapper{
  overflow: hidden;
  max-width: 990px;
  @include media-content {
    max-width: 580px;
  }
  @include media-tablet {
    max-width: 270px;
  }
}

.carousel-slider {
  height: 435px;
  @include flex(center);
  column-gap: 90px;
  position: relative;
}
.carousel-slider__strip {

 column-gap: 90px;
  //width: 100%;
  @include flex(space-between);

  @include media-content {
    column-gap: 40px;
  }
}
 

.btn-arrow {

  &_normal {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/icons/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  &_mirror {
    transform: scale(-1, 1);
  }
}

@keyframes move-left{
  from{ left: 0px;}    
  to{left: 1080px;}
}
@keyframes move-right{
  from{ left: 0px;}    
  to{left: -1080px;}
}
@keyframes move-left-media-content{
  from{ left: 0px;}    
  to{left: 670px;}
}
@keyframes move-right-media-content{
  from{ left: 0px;}    
  to{left: -670px;;}
}
@keyframes move-left-media-tablet{
  from{ left: 0px;}    
  to{left: 360px;}
}
@keyframes move-right-media-tablet{
  from{ left: 0px;}    
  to{left: -360px;;}
}


.strip_transition-left {
  animation-name: move-left;
  animation-duration: 0.5s;

  @include media-content {
    animation-name: move-left-media-content;
  }

  @include media-tablet {
    animation-name: move-left-media-tablet;
  }
}

.strip_transition-right {
  animation-name: move-right;
  animation-duration: 0.5s;

  @include media-content {
    animation-name: move-right-media-content;
  }

  @include media-tablet {
    animation-name: move-right-media-tablet;
  }
}

