@mixin font ($size, $height, $weight:400, $style:normal ){
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}

@mixin flex ( $justify: normal, $align-items: normal, $flex-wrap:nowrap, $display:flex){
  display: $display;
  justify-content: $justify;
  align-items: $align-items;
  flex-wrap: $flex-wrap;
}

@mixin media-content {
@media ( max-width: $content-width) { @content; }
}

@mixin media-laptop {
  @media ( max-width: $laptop-width) { @content; }
  }

@mixin media-tablet {
@media ( max-width: $tablet-width) { @content; }
}

@mixin media-mobileL {
  @media ( max-width: $mobileL-width) { @content; }
}

@mixin media-mobile {
  @media ( max-width: $mobile-width) { @content; }
}