%transition{
  transition: 0.3s ease-out;
  transition-property:  background-color, color, background, box-shadow;
}

%transition-fast{
  transition: all 0.3s ease-out;
}

%cursor-hover{
  cursor: url('../../assets/cursor/Hover.svg'), auto;}